// work-gallery style
.work-gallery {
    .work-item {
        position: relative;
        padding-bottom: 24px;
        overflow: hidden;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            height: 0;
            width: 100%;
            background-color: $color-blue;
            top: 0;
            left: 0;
        }
        .img-fluid {
            transition: .5s;
        }
        .btn {
            position: absolute;
            bottom: 0;
            right: 15px;
            width: 70%;
        }
        &:hover {
            .btn {
                right: 50%;
                transform: translateX(50%);
                background-color: $color-primary;
            }
            .img-fluid {
                transform: scale(1.15);
            }
            &::after {
                height: 100%;
                opacity: .2;
                transition: .5s;
            }
        }
    }
    .owl-nav button {
        top: calc(50% - 44px);
    }
}